.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.button {
  margin: 1rem 0;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 5;
  min-width: 10rem;
  background-color: white;
}

.button-rotating {
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
  padding: 2rem 5rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button-rotating::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: maroon;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.button-rotating:hover {
  color: whitesmoke;
}

.button-rotating:hover::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.button-swipe {
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
  padding: 2rem 5rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button-swipe::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: orangered;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.button-swipe:hover {
  color: whitesmoke;
}

.button-swipe:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.button-cross {
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
  padding: 2rem 5rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.button-cross::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: orange;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.button-cross::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: orange;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.button-cross:hover {
  color: whitesmoke;
}

.button-cross:hover::before {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.button-cross:hover::after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.button-swipe-text {
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
  padding: 2rem 4rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button-swipe-text::before {
  content: 'Epic';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: gold;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.button-swipe-text:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.button-scale-text {
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.6);
  padding: 2rem 4rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button-scale-text::before {
  content: 'Scale Text';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #262626;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(5);
          transform: scale(5);
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.button-scale-text:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.button-three-layers {
  padding: 2rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: gold;
  color: white;
  letter-spacing: 2px;
  font-size: 1.2rem;
  position: relative;
}

.button-three-layers::before, .button-three-layers::after {
  content: 'three layers';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotateX(270deg);
          transform: rotateX(270deg);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.button-three-layers::before {
  background-color: limegreen;
}

.button-three-layers::after {
  background-color: firebrick;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.button-three-layers:hover::before, .button-three-layers:hover::after {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.button-three-circles {
  width: 220px;
  height: 80px;
  color: darkolivegreen;
  background-color: transparent;
  font-size: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

.button-three-circles::before, .button-three-circles::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: darkolivegreen;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -1;
  opacity: 0;
}

.button-three-circles::before {
  left: 0;
  -webkit-box-shadow: -100px 0 0 darkolivegreen;
          box-shadow: -100px 0 0 darkolivegreen;
}

.button-three-circles::after {
  right: 0;
  -webkit-box-shadow: 100px 0 0 darkolivegreen;
          box-shadow: 100px 0 0 darkolivegreen;
}

.button-three-circles:hover {
  color: ivory;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.button-three-circles:hover::before {
  left: 50%;
  -webkit-box-shadow: 30px 0 0 darkolivegreen;
          box-shadow: 30px 0 0 darkolivegreen;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

.button-three-circles:hover::after {
  right: 50%;
  -webkit-box-shadow: -30px 0 0 darkolivegreen;
          box-shadow: -30px 0 0 darkolivegreen;
  -webkit-transform: translate(50%) translateY(-50%);
          transform: translate(50%) translateY(-50%);
  opacity: 1;
}

.button-three-circles span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkolivegreen;
  border-radius: 8px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -1;
}

.button-three-circles:hover span {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.button-overlay-effect {
  width: 17rem;
  height: 3.75rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  line-height: 3.75rem;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
}

.button-overlay-effect::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: lightskyblue;
  z-index: -1;
  mix-blend-mode: multiply;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.button-overlay-effect:hover::before {
  top: -6px;
  left: 0;
  -webkit-transform: perspective(1000px) rotateX(75deg);
          transform: perspective(1000px) rotateX(75deg);
}

.button-overlay-effect::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: salmon;
  z-index: -1;
  mix-blend-mode: multiply;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.button-overlay-effect:hover::after {
  top: 6px;
  left: 0;
  -webkit-transform: perspective(1000px) rotateX(-75deg);
          transform: perspective(1000px) rotateX(-75deg);
}

.button-overlay-effect:hover {
  color: black;
}

.button-plaid-borders {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 3px;
  height: 4rem;
  width: 15rem;
  line-height: 60px;
  text-align: center;
  color: green;
  position: relative;
}

.button-plaid-borders::before {
  content: '';
  position: absolute;
  height: 5.9rem;
  width: 15rem;
  top: -15px;
  left: 0;
  border-left: 2px solid red;
  border-right: 2px solid goldenrod;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button-plaid-borders::after {
  content: '';
  position: absolute;
  height: 4rem;
  width: 17rem;
  top: 0;
  left: -15px;
  border-top: 2px solid red;
  border-bottom: 2px solid goldenrod;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button-plaid-borders:hover::before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.button-plaid-borders:hover::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.button-four-borders {
  background-color: transparent;
  border: none;
  position: relative;
  width: 300px;
  height: 120px;
  text-transform: uppercase;
  line-height: 120px;
  text-align: center;
  color: midnightblue;
  font-size: 1.75rem;
  letter-spacing: 15px;
  overflow: hidden;
}

.button-four-borders::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: midnightblue;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button-four-borders:hover::before {
  left: 0;
}

.button-four-borders::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background-color: midnightblue;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button-four-borders:hover::after {
  right: 0;
}

.button-four-borders span::before {
  content: '';
  position: absolute;
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: midnightblue;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button-four-borders:hover span::before {
  top: 0;
}

.button-four-borders span::after {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: midnightblue;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button-four-borders:hover span::after {
  bottom: 0;
}

.button-wavy {
  text-decoration: none;
  padding: 15px 30px;
  color: #00aeff;
  font-size: 18px;
  letter-spacing: 3px;
  border: 2px solid #00aeff;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.button-wavy:hover {
  color: white;
}

.button-wavy:hover .wave {
  top: 0;
}

.button-wavy .wave {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(100% + 22px);
  background-color: #00aeff;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: -1;
}

.button-wavy .wave::before {
  content: '';
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(../../img/wave.png);
  -webkit-animation: wavy .5s linear infinite;
          animation: wavy .5s linear infinite;
}

@-webkit-keyframes wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}

@keyframes wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}

.button-skewed {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  letter-spacing: 7px;
  padding: 18px 30px;
  background: transparent;
  font-size: 1.25rem;
  color: white;
}

.button-skewed::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  left: -1%;
  top: -5px;
  background-color: tomato;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  z-index: -1;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button-skewed:hover::before {
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
  left: 50%;
  top: 0;
}

.button-skewed::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  left: 51%;
  top: 5px;
  background-color: steelblue;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  z-index: -1;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button-skewed:hover::after {
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
  left: 0%;
  top: 0;
}

.button-diagonal-swipe {
  text-decoration: none;
  position: relative;
  width: 250px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: rebeccapurple;
  border: 4px solid rebeccapurple;
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.button-diagonal-swipe:hover {
  color: white;
}

.button-diagonal-swipe::before, .button-diagonal-swipe::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 40px solid rebeccapurple;
  border-bottom: 40px solid rebeccapurple;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}

.button-diagonal-swipe::before {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-right: 40px solid transparent;
}

.button-diagonal-swipe:hover::before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.button-diagonal-swipe::after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  border-left: 40px solid transparent;
}

.button-diagonal-swipe:hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.image-animation-wrapper-1 {
  position: relative;
  overflow: hidden;
}

.image-animation-wrapper-1:hover .caption {
  opacity: 1;
}

.image-animation-wrapper-1:hover img {
  -webkit-transform: scale(1.5) rotate(15deg);
          transform: scale(1.5) rotate(15deg);
}

.image-animation-wrapper-1 img {
  margin: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.image-animation-wrapper-1 .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.image-animation-wrapper-1 .caption h4 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.image-animation-wrapper-1 .caption p {
  text-transform: capitalize;
  color: white;
  text-align: center;
}

.image-animation-wrapper-2 {
  position: relative;
  overflow: hidden;
}

.image-animation-wrapper-2 img {
  margin: 0;
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.image-animation-wrapper-2:hover img {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.image-animation-wrapper-2 .caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: black;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.image-animation-wrapper-2:hover .caption {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.image-animation-wrapper-2 h4 {
  text-transform: uppercase;
  margin: 0;
  color: white;
  text-align: center;
}

.image-animation-wrapper-2 p {
  font-size: 18px;
  text-transform: capitalize;
  color: white;
  text-align: center;
}

.image-animation-wrapper-3 {
  color: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.image-animation-wrapper-3::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-color: #006266;
  opacity: 0.5;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.image-animation-wrapper-3:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.image-animation-wrapper-3 img {
  width: 100%;
  margin: 0;
}

.image-animation-wrapper-3 .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.image-animation-wrapper-3:hover .caption {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.image-animation-wrapper-3 h4,
.image-animation-wrapper-3 p {
  margin: 0;
  letter-spacing: 1px;
  text-align: center;
}

.image-animation-wrapper-3 h4 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5px;
  background-color: thistle;
  padding: 3px 10px;
}

.image-animation-wrapper-3 p {
  background-color: bisque;
  padding: 3px 10px;
}

.image-animation-wrapper-4 {
  position: relative;
  background-color: #444;
  border: 10px solid white;
}

.image-animation-wrapper-4::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-color: #2d3436;
  opacity: 0.8;
  background-color: #006266;
  -webkit-transform: scale(0) rotate(-180deg);
          transform: scale(0) rotate(-180deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.image-animation-wrapper-4:hover::before {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.image-animation-wrapper-4 img {
  width: 100%;
  margin: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.image-animation-wrapper-4:hover img {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.image-animation-wrapper-4 .caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
}

.image-animation-wrapper-4 h4,
.image-animation-wrapper-4 p {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.image-animation-wrapper-4 :hover h4,
.image-animation-wrapper-4 :hover p,
.image-animation-wrapper-4 :hover a {
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.image-animation-wrapper-4 h4 {
  text-align: center;
  font-size: 17px;
  padding: 20px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.8);
}

.image-animation-wrapper-4 p {
  font-size: 16px;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.menu-animation-wrapper-1 {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-animation-wrapper-1 li {
  list-style: none;
}

.menu-animation-wrapper-1 li a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 22px;
  display: block;
  padding: 1rem 1.5rem;
  position: relative;
}

.menu-animation-wrapper-1 li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3d3d3d;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.menu-animation-wrapper-1 li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3d3d3d;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu-animation-wrapper-1 li a:hover::before, .menu-animation-wrapper-1 li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu-animation-wrapper-2 {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.menu-animation-wrapper-2 li a {
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: red;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #262626;
  z-index: 20;
}

.menu-animation-wrapper-2 li a:hover {
  color: white;
}

.menu-animation-wrapper-2 li span {
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: #262626;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.menu-animation-wrapper-2 li:hover span {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu-animation-wrapper-2 li span:nth-child(2) {
  top: 25%;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.menu-animation-wrapper-2 li span:nth-child(3) {
  top: 50%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-animation-wrapper-2 li span:nth-child(4) {
  top: 75%;
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-animation-wrapper-3 {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-animation-wrapper-3 li {
  list-style: none;
}

.menu-animation-wrapper-3 a {
  position: relative;
  display: block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 20;
}

.menu-animation-wrapper-3 a:hover {
  color: white;
}

.menu-animation-wrapper-3 a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: scaleY(2);
          transform: scaleY(2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.menu-animation-wrapper-3 a:hover::before {
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  opacity: 1;
}

.menu-animation-wrapper-3 a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: -1;
}

.menu-animation-wrapper-3 a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu-animation-wrapper-4 {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-animation-wrapper-4 li {
  list-style: none;
  padding: 10px 40px;
}

.menu-animation-wrapper-4 li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: black;
  position: relative;
  padding: 5px;
}

.menu-animation-wrapper-4 li a:hover {
  color: darkslateblue;
}

.menu-animation-wrapper-4 li a:hover span:first-child:before {
  top: -10px;
  left: -10px;
  opacity: 1;
}

.menu-animation-wrapper-4 li a:hover span:first-child:after {
  top: -10px;
  right: -10px;
  opacity: 1;
}

.menu-animation-wrapper-4 li a:hover span:last-child:before {
  bottom: -10px;
  left: -10px;
  opacity: 1;
}

.menu-animation-wrapper-4 li a:hover span:last-child:after {
  bottom: -10px;
  right: -10px;
  opacity: 1;
}

.menu-animation-wrapper-4 span:first-child::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-top: 2px solid darkslateblue;
  border-left: 2px solid darkslateblue;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.menu-animation-wrapper-4 span:first-child::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-top: 2px solid darkslateblue;
  border-right: 2px solid darkslateblue;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.menu-animation-wrapper-4 span:last-child::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-bottom: 2px solid darkslateblue;
  border-left: 2px solid darkslateblue;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.menu-animation-wrapper-4 span:last-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-bottom: 2px solid darkslateblue;
  border-right: 2px solid darkslateblue;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.card-background-translation {
  position: relative;
  width: 20rem;
  padding: 2rem;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.card-background-translation::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: calc(-100% + 5px);
  width: 100%;
  height: 100%;
  background-color: darkslategray;
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.card-background-translation:hover::before {
  bottom: 0;
}

.card-background-translation:hover h4,
.card-background-translation:hover p {
  color: white;
}

.card-background-translation:hover a {
  background-color: white;
  color: darkslategray;
}

.card-background-translation .content {
  position: relative;
  text-transform: capitalize;
  z-index: 2;
  -webkit-transition: .5s;
  transition: .5s;
}

.card-background-translation h4,
.card-background-translation p,
.card-background-translation a {
  -webkit-transition: .5s;
  transition: .5s;
}

.card-background-translation h4 {
  margin-bottom: .5rem;
  margin-top: 0;
  font-size: 1.5rem;
}

.card-background-translation p {
  padding: 1rem 0;
}

.card-background-translation a {
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  background-color: darkslategrey;
  padding: .75rem;
  color: white;
}

.card-expandable {
  position: relative;
  width: 20rem;
  height: 15.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 1rem 2rem;
  background-color: white;
}

.card-expandable:hover {
  height: 28rem;
}

.card-expandable:hover .content {
  opacity: 1;
  -webkit-transform: translateY(-2.5rem);
          transform: translateY(-2.5rem);
}

.card-expandable .img-box {
  position: relative;
  width: 16rem;
  height: 16rem;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  z-index: 1;
}

.card-expandable .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-expandable .content {
  padding: 10px 20px;
  text-align: center;
  color: #111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  opacity: 0;
}

.card-expandable .content h4 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.card-scaling {
  position: relative;
  width: 20rem;
  height: 25rem;
  background-color: black;
  -webkit-box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.5);
}

.card-scaling:hover .content {
  height: 100%;
  width: 100%;
  left: 0%;
}

.card-scaling:hover .content p,
.card-scaling:hover .content a {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.card-scaling:hover img {
  opacity: 0;
}

.card-scaling .content {
  position: absolute;
  bottom: 0px;
  width: 80%;
  height: 5rem;
  background-color: white;
  left: 10%;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.card-scaling .content h4 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: 2rem;
}

.card-scaling .content p {
  width: 80%;
  margin: 1rem auto;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.card-scaling .content a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 1rem 1.5rem;
  display: inline-block;
  margin-top: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.card-scaling .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-scaling .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.smoky {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.smoky li {
  list-style: none;
  color: black;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 10px;
  -webkit-transition: 2s;
  transition: 2s;
}

.smoky li:nth-child(1) {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.smoky li:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.smoky li:nth-child(3) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.smoky li:nth-child(4) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.smoky li:nth-child(5) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.smoky:hover li {
  -webkit-transform: rotate(45deg) translateY(-200px);
          transform: rotate(45deg) translateY(-200px);
  opacity: 0;
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.fill-text {
  margin: 0;
  padding: 0;
  font-family: verdana;
  font-size: 7rem;
  color: #ccc;
  text-transform: uppercase;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.fill-text::before {
  content: "yard";
  position: absolute;
  top: 0;
  left: 0;
  color: #262626;
  width: 0%;
  overflow: hidden;
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

.fill-text:hover::before {
  width: 100%;
}

.border-rotate-box {
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.border-rotate-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid olivedrab;
  border-bottom: 4px solid olivedrab;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.border-rotate-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 4px solid olivedrab;
  border-left: 4px solid olivedrab;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.border-rotate-box:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.border-rotate-box:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.border-rotate-box:hover .rotated::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.border-rotate-box:hover .rotated::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.border-rotate-box h4 {
  margin: 0;
  padding: 0;
  color: #272727;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.border-rotate-box span {
  color: darkgreen;
  font-size: 30px;
}

.border-rotate-box .rotated {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.border-rotate-box .rotated::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid olivedrab;
  border-bottom: 4px solid olivedrab;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.border-rotate-box .rotated::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 4px solid olivedrab;
  border-left: 4px solid olivedrab;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.animation-title {
  margin-bottom: 1rem;
}

.animation-loading {
  width: 5rem;
  height: 5rem;
  background-color: darkslategray;
  border-radius: 12px;
  -webkit-animation: loading 2s ease-out infinite;
          animation: loading 2s ease-out infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateX(0deg) rotateY(180deg);
            transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateX(0deg) rotateY(180deg);
            transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
}

.animation-text-content {
  color: black;
  font-size: 3rem;
}

.animation-text-content span:before {
  content: 'TRANSITIONS';
  text-transform: uppercase;
  color: darkslategrey;
  -webkit-animation: word-switch 4s infinite;
          animation: word-switch 4s infinite;
}

@-webkit-keyframes word-switch {
  0% {
    content: 'transitions';
  }
  50% {
    content: 'animations';
  }
  100% {
    content: 'transforms';
  }
}

@keyframes word-switch {
  0% {
    content: 'transitions';
  }
  50% {
    content: 'animations';
  }
  100% {
    content: 'transforms';
  }
}

.animation-lighting {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animation-lighting li {
  color: #484848;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 15px;
  -webkit-animation: lighting 4s linear infinite;
          animation: lighting 4s linear infinite;
}

.animation-lighting li:nth-child(1) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.animation-lighting li:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.animation-lighting li:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animation-lighting li:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.animation-lighting li:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animation-lighting li:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.animation-lighting li:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animation-lighting li:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }
  97% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}

@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }
  97% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}

.animation-bounce {
  margin-top: 10rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 10px black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.animation-bounce li {
  width: 30px;
  height: 30px;
  background-color: black;
  margin: 0 10px;
  border-radius: 50%;
  -webkit-animation: jumping 0.8s linear infinite;
          animation: jumping 0.8s linear infinite;
}

.animation-bounce li:nth-child(1) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.animation-bounce li:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animation-bounce li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.animation-bounce li:nth-child(4) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.animation-bounce li:nth-child(5) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@-webkit-keyframes jumping {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jumping {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.animation-loading-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animation-loading-text li {
  font-size: 80px;
  letter-spacing: 20px;
  -webkit-animation: loading-text 3s linear infinite;
          animation: loading-text 3s linear infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animation-loading-text li:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.animation-loading-text li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animation-loading-text li:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animation-loading-text li:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animation-loading-text li:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.animation-loading-text li:nth-child(6) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animation-loading-text li:nth-child(7) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes loading-text {
  0% {
    color: red;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    letter-spacing: 20px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    letter-spacing: -20px;
    opacity: 1;
  }
  100% {
    color: blue;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    letter-spacing: 20px;
    opacity: 0;
  }
}

@keyframes loading-text {
  0% {
    color: red;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    letter-spacing: 20px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    letter-spacing: -20px;
    opacity: 1;
  }
  100% {
    color: blue;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    letter-spacing: 20px;
    opacity: 0;
  }
}

.animation-slider {
  width: 800px;
  height: 400px;
  background-size: cover;
  background-image: url(../../img/yard-1.jpeg);
  -webkit-animation: change-bg 10s linear infinite;
          animation: change-bg 10s linear infinite;
}

@-webkit-keyframes change-bg {
  0% {
    background-image: url(../../img/yard-1.jpeg);
  }
  20% {
    background-image: url(../../img/yard-1.jpeg);
  }
  25% {
    background-image: url(../../img/yard-2.png);
  }
  45% {
    background-image: url(../../img/yard-2.png);
  }
  50% {
    background-image: url(../../img/yard-3.jpeg);
  }
  70% {
    background-image: url(../../img/yard-3.jpeg);
  }
  75% {
    background-image: url(../../img/utrecht.jpeg);
  }
  100% {
    background-image: url(../../img/utrecht.jpeg);
  }
}

@keyframes change-bg {
  0% {
    background-image: url(../../img/yard-1.jpeg);
  }
  20% {
    background-image: url(../../img/yard-1.jpeg);
  }
  25% {
    background-image: url(../../img/yard-2.png);
  }
  45% {
    background-image: url(../../img/yard-2.png);
  }
  50% {
    background-image: url(../../img/yard-3.jpeg);
  }
  70% {
    background-image: url(../../img/yard-3.jpeg);
  }
  75% {
    background-image: url(../../img/utrecht.jpeg);
  }
  100% {
    background-image: url(../../img/utrecht.jpeg);
  }
}

.animation-loading-colorful-container {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animation-loading-colorful {
  margin-top: 4rem;
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-animation: loading-animate 1s linear infinite;
          animation: loading-animate 1s linear infinite;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.animation-loading-colorful span {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-animation: loading-rotate 1s linear infinite;
          animation: loading-rotate 1s linear infinite;
}

.animation-loading-colorful span:nth-child(1) {
  top: 0;
  left: 0;
  background-color: #FCEBA7;
}

.animation-loading-colorful span:nth-child(2) {
  top: 0;
  right: 0;
  background-color: #55DDB9;
}

.animation-loading-colorful span:nth-child(3) {
  bottom: 0;
  left: 0;
  background-color: #FD6C64;
}

.animation-loading-colorful span:nth-child(4) {
  bottom: 0;
  right: 0;
  background-color: #1F78B0;
}

@-webkit-keyframes loading-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  90% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes loading-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  90% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes loading-animate {
  0% {
    width: 100px;
    height: 100px;
  }
  10% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  90% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

@keyframes loading-animate {
  0% {
    width: 100px;
    height: 100px;
  }
  10% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  90% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

.animation-loading-text-reveal {
  font-size: 40px;
  margin-top: 4rem;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: black;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.animation-loading-text-reveal::before {
  content: "loading...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: mediumseagreen;
  overflow: hidden;
  border-right: 4px solid mediumseagreen;
  -webkit-animation: text-reveal 4s linear infinite;
          animation: text-reveal 4s linear infinite;
}

@-webkit-keyframes text-reveal {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes text-reveal {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.main-content {
  overflow-x: hidden;
}

.main-content > * {
  max-width: calc(100% - 2rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 540px) {
  .main-content > * {
    max-width: 540px;
  }
}

@media (min-width: 720px) {
  .main-content > * {
    max-width: 720px;
  }
}

@media (min-width: 960px) {
  .main-content > *.container,
  .main-content > *.alignwide {
    max-width: 960px;
  }
}

@media (min-width: 1275px) {
  .main-content > *.container,
  .main-content > *.alignwide {
    max-width: 1275px;
  }
}

.main-content > *.alignfull {
  max-width: 100%;
}

.main-content img {
  max-width: 100%;
}

main {
  margin-bottom: 5rem;
}

.yard-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.yard-image-wrapper img {
  width: 27%;
  padding: 1rem;
}

.column-center-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whitespace {
  padding: 2rem;
}

.scroll-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

.background-circles::before {
  width: 30rem;
  height: 30rem;
  content: '';
  background-color: lightseagreen;
  position: fixed;
  left: -15rem;
  top: -5rem;
  border-radius: 30rem;
  z-index: -1;
  -webkit-animation: breathe 15s ease infinite;
          animation: breathe 15s ease infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  opacity: .3;
}

.background-circles::after {
  width: 50rem;
  height: 50rem;
  content: '';
  background-color: darkseagreen;
  position: fixed;
  right: -15rem;
  bottom: -5rem;
  border-radius: 50rem;
  z-index: -1;
  animation: breathe 20s ease infinite reverse;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  opacity: .3;
}

@-webkit-keyframes breathe {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes breathe {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.background-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-animation {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.square {
  position: absolute;
  bottom: -100px;
  background-color: rgba(143, 188, 143, 0.507);
  -webkit-animation: boxes 20s infinite ease-in-out;
          animation: boxes 20s infinite ease-in-out;
}

.square:nth-child(1) {
  width: 75px;
  height: 75px;
  left: 7%;
}

.square:nth-child(2) {
  width: 65px;
  height: 65px;
  left: 15%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.square:nth-child(3) {
  width: 82px;
  height: 82px;
  left: 45%;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.square:nth-child(4) {
  width: 70px;
  height: 70px;
  left: 55%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.square:nth-child(5) {
  width: 60px;
  height: 60px;
  left: 27%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.square:nth-child(6) {
  width: 55px;
  height: 55px;
  left: 60%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.square:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 85%;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.square:nth-child(8) {
  width: 70px;
  height: 70px;
  left: 75%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.square:nth-child(9) {
  width: 45px;
  height: 45px;
  left: 10%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.square:nth-child(10) {
  width: 55px;
  height: 55px;
  left: 60%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

@-webkit-keyframes boxes {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
}

@keyframes boxes {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
}

.background-growing-boxes {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-growing-boxes-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-growing-boxes-container .box {
  position: absolute;
  top: 80%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(32, 178, 171, 0.5);
  -webkit-animation: growing-boxes 12s ease-in infinite;
          animation: growing-boxes 12s ease-in infinite;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.background-growing-boxes-container .box:nth-child(2) {
  top: 40%;
  left: 25%;
  border-color: rgba(143, 188, 143, 0.5);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.background-growing-boxes-container .box:nth-child(3) {
  top: 50%;
  left: 75%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.background-growing-boxes-container .box:nth-child(4) {
  top: 10%;
  left: 90%;
  border-color: rgba(143, 188, 143, 0.5);
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.background-growing-boxes-container .box:nth-child(5) {
  top: 85%;
  left: 10%;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.background-growing-boxes-container .box:nth-child(6) {
  top: 10%;
  left: 50%;
  border-color: rgba(143, 188, 143, 0.5);
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes growing-boxes {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(20) rotate(960deg);
            transform: scale(20) rotate(960deg);
    opacity: 0;
  }
}

@keyframes growing-boxes {
  0% {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(20) rotate(960deg);
            transform: scale(20) rotate(960deg);
    opacity: 0;
  }
}

.code-paragraph {
  font-family: monospace;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  list-style-type: disclosure-closed;
}

.button-list li {
  padding: 1rem;
}

.button-list li a {
  text-decoration: none;
  position: relative;
  padding-bottom: .25rem;
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
}

.button-list li a::before {
  content: '';
  border-bottom: 2px solid black;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.button-list li a:hover::before {
  width: 100%;
}

nav {
  position: fixed;
  z-index: 100;
  background: darkslategray;
  -webkit-box-shadow: 0.5rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  width: 100%;
}

nav ul {
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  margin-bottom: 0;
}

nav ul li a {
  text-decoration: none;
  color: #dbebdb;
  font-size: 1.3rem;
  position: relative;
}

nav ul li a::before {
  background-color: lightseagreen;
  content: '';
  -webkit-transform: scale(0);
          transform: scale(0);
  height: .2rem;
  position: absolute;
  visibility: hidden;
  width: 60%;
  left: 20%;
  bottom: -.5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

nav ul li a:hover::before {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.dropdown a h2 {
  position: relative;
}

.dropdown a h2::before {
  content: '';
  border-bottom: 2px solid darkseagreen;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.dropdown a h2:hover::before {
  width: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: monospace;
  color: #1e3232;
}

h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  margin-top: 8rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p,
a,
li {
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  margin-bottom: 3rem;
}

.highlighted-text {
  font-weight: bold;
  color: #14736e;
}

.highlighted-text:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
  -webkit-text-decoration-color: darkseagreen;
          text-decoration-color: darkseagreen;
}

.list li {
  list-style: square;
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */