nav {
    position: fixed;
    z-index: 100;
    background: darkslategray;
    box-shadow: .5rem .2rem .5rem rgba(0, 0, 0, 0.2);
    width: 100%;

    ul {
        padding: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            list-style: none;
            margin-bottom: 0;

            a {
                text-decoration: none;
                color: rgb(219, 235, 219);
                font-size: 1.3rem;
                position: relative;

                &::before {
                    background-color: lightseagreen;
                    content: '';
                    transform: scale(0);
                    height: .2rem;
                    position: absolute;
                    visibility: hidden;
                    width: 60%;
                    left: 20%;
                    bottom: -.5rem;
                    transition: all .5s ease;
                }

                &:hover::before {
                    visibility: visible;
                    transform: scale(1);
                }
            }
        }
    }
}