.yard-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 27%;
        padding: 1rem;
    }
}

.column-center-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.whitespace {
    padding: 2rem;
}

.scroll-wrapper{
    display: flex;
    overflow-x: scroll;
}